$icici-cont-width:98%;

.icici-container{
    width:$icici-cont-width;
    margin:0 auto;
    background-color:$base; 
    div.form{
      border:1px solid $alert;
      width:$icici-cont-width - 20;
    }
}