/********************
 ******variables*****
 ********************/

  
$base:                    #f5821f;                   
$success:                 #1A237E;
$alert:                   #C62828;
$info:                    #2196F3;
$white:                   #ffffff;



$header-background:       $base; 
$header-bottom-border:    lighten($base, 50%);
    
//$header-font:   
//$header-font-color:
//$header-font-size:
//    
//    
//$button-primary-color:
//$button-primary-font-size:

    
    