.icici-header{
    width:100%;
    background-color:$header-background;
    height:$height;
    border-bottom:1px solid $header-bottom-border;  
    @include box-shadow(1px, 2px, 2px, 2px, $shadow);
}

.icici-brand{
    font-size:$header-font-size;
    font-weight:$header-font-weight - 300;
    line-height:$height;
    padding-left:$padding-left - 3;
    color:$white;
    text-align: left;
    
    i{
        font-size:$font-size + 3;
        color:$white;
    }
    
    a.logout{
        float:right;
        padding-right:$padding-right - 3;
    }
}





