<header class="icici-header">
    <!-- Main Header -->
    <div>
       <div class="icici-brand"><a href="" ><i class="glyphicon glyphicon-menu-hamburger"></i></a> ICICI P2P
         <a href="" class="logout"><i class="glyphicon glyphicon-off"></i></a>
        </div>
    </div>
    <!--./-->
</header>

<!-- container -->
   <div class="container-fluid">
          <div class="row icici-container">
              <div class="col-xs-3">
                 <div class="icici-account">
                   <img src="images/user.svg" class="img-circle icici-img"/>
                  </div> 
              </div>
              <div class="col-xs-9">
                   <div class="icici-account">   
                       <label>Hello Pavan Kumar Upadhyayula</label>
                       <p><b>Account Number:</b> 0123456789</p>
                       <p><b>Balance: &#8377</b> 45,000 /-</p>
                  </div> 
              </div>
          </div>
       
          <div>
             <div class="row">
                   <div class="col-xs-4 icici-menu">
                     <div>
                         <ul>
                          <li><img src="images/share.svg" /></li>
                          <li><p>Share</p></li>     
                         </ul>
                     </div> 
                   </div> 
                   <div class="col-xs-4 icici-menu">
                    <div>
                         <ul>
                          <li><img src="images/share.svg" /></li>
                          <li><p>Share</p></li>     
                         </ul>
                     </div> 
                   </div> 
                   <div class="col-xs-4 icici-menu">
                    <div>
                         <ul>
                          <li><img src="images/share.svg" /></li>
                          <li><p>Share</p></li>     
                         </ul>
                     </div>
                   </div> 
             </div> 
          </div>
   </div>
<!--./-->